{% set title="Main Page" %}
{% set lang="ru" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

<section class="services">
    <h2 class="services__h">
        List of services
    </h2>
    <ul class="services__list list">
        {% set lists = ['Training', 'Сonsultation', 'Code review' ] %}
        {% for list in lists %}
            <li class="list__item">
                {{ list }}
            </li>
        {% endfor %}    
    </ul>
    <p class="services__text">
        Everything is at the highest level
    </p>
</section>
<section class="wrapper">
    <div class="row">
        {% set columns = 9 %}
        {% for column in range(0, columns) %}
            <div class="block">
                <button>Кнопка {{column}} </button>
            </div>
        {% endfor %}
    </div>
</section>
 
{% include 'parts/_foot.html' %}