{% set title="Prises" %}
{% set lang="ru" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

<h1>{{ title }}</h1>

<table>
    <thead>
        <tr>
            {% set tabheads = ['Service', 'Period', 'Price'] %}
            {% for tabhead in tabheads %}
            <td>{{ tabhead }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% set tabbodys = [
            ['Courses', '60 days', '20000'],
            ['Consultations', '1 hour', '500'],
            ['Code review', '1 time', '500']
            ] %}
        {% for tabbodyrow in tabbodys %}
            <tr>
                {% for tabbodycol in tabbodyrow %}
                    <td>{{ tabbodycol }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    </tbody>
</table>
 
{% include 'parts/_foot.html' %}