<header class="main-header wrapper">
    <nav>
        <div>
            <a href="index.html" class="main-header__logo">
                {% include 'parts/svgo/logo-ofpery.svg' %}
            </a>
        </div>
        {% 
            set menulinks = [
                {
                    link: 'shedule.html',
                    text: 'Shedule'
                },
                {
                    link: 'prices.html',
                    text: 'Prises'
                }
            ]    
        %}
        <ul>
            {% for link in menulinks %}
            {% if link.text == title %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}    
                    <a href="{{ link.link }}">{{ link.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>